.title {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}
.text {
  text-align: center;
  font-size: 1.5rem;
  list-style-type: none;
}
.awardText{
  text-align: center;
  font-size: 1.8rem;
}